html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.secondaryArticle, .subArticle {
  background-color: #F5F5F5;
  margin: 10px 0;
  border-top: 1px solid #56c0ff;
  clear: both; }
  .secondaryArticle:hover, .subArticle:hover {
    background-color: #ebebeb;
    cursor: pointer; }

.topArticle h1, .secondaryArticle h1, .subArticle span, .subArticle h1 {
  font-size: 18px; }

.secondaryArticle span a, .secondaryArticle h1 a, .secondaryArticle p a, .subArticle a {
  color: #005689;
  text-decoration: none; }

*:not(body):not(html) {
  box-sizing: border-box; }

.columns {
  min-height: 100px; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.mainContent {
  height: 100vh;
  width: 95%;
  display: block;
  margin: auto; }

.sectionTitle {
  overflow: auto; }
  .sectionTitle h2 {
    margin: 0;
    color: #003c60;
    float: left; }
  .sectionTitle .weather {
    float: right;
    padding: 0;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0;
    color: #504A4B; }
    .sectionTitle .weather span {
      float: left;
      font-size: 19px;
      padding-top: 3px; }
    .sectionTitle .weather i {
      font-size: 25px;
      border-left: 1px solid #eee;
      padding: 0px;
      padding-top: 0px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 7px; }

hr {
  clear: both;
  border-color: #e6e6e6;
  opacity: .3;
  margin: 0;
  width: 50%; }

.featuredArticle {
  background-color: #F5F5F5;
  line-height: 25px;
  padding: 0px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0; }
  .featuredArticle:hover {
    background-color: #ebebeb;
    cursor: pointer; }
  .featuredArticle h1 {
    padding: 3px;
    margin: 0;
    font-size: 20px; }
  .featuredArticle p {
    padding: 3px;
    display: none; }
  .featuredArticle a {
    text-decoration: none;
    color: #005689; }

.topArticle, .secondaryArticle {
  margin: 10px 0;
  height: 130px;
  background-color: #c01900;
  padding: 5px; }
  .topArticle:hover, .secondaryArticle:hover {
    background-color: #A11500; }
  .topArticle a:hover, .secondaryArticle a:hover {
    text-decoration: underline; }
  .topArticle h1, .secondaryArticle h1 {
    margin: 0;
    color: white; }
  .topArticle p, .secondaryArticle p {
    padding: 0;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 0;
    margin: 1px 0; }
  .topArticle a, .secondaryArticle a {
    text-decoration: none;
    color: white;
    color: #ff8573; }
  .topArticle span, .secondaryArticle span {
    color: white;
    font-weight: bold; }

.secondaryArticle {
  background-color: #F5F5F5; }
  .secondaryArticle:hover {
    background-color: #ebebeb;
    cursor: pointer; }
  .secondaryArticle span, .secondaryArticle h1 {
    color: #504A4B; }
  .secondaryArticle p {
    padding: 0;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 0; }

.subArticle {
  height: 75px; }
  .subArticle span, .subArticle h1 {
    color: #504A4B; }

p {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

header {
  overflow: auto;
  background: #005689;
  height: 55px; }

.headerContent {
  width: 95%;
  display: block;
  margin: auto; }

.title {
  font-size: 15px; }
  .title h1 {
    margin: 0;
    float: right;
    padding: 0;
    padding-top: 0;
    padding-right: 10px;
    color: lightblue; }

.right {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #504A4B;
  float: right;
  margin-top: 9px; }

.linksBar {
  overflow: auto;
  background: #004670;
  height: 32px;
  text-align: center;
  padding-left: 2px; }
  .linksBar a {
    color: white;
    font-size: 19px;
    text-decoration: none;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px; }
    .linksBar a.all {
      background-color: black;
      padding-right: 5px;
      padding: 0;
      padding-top: 4px;
      padding-right: 11px;
      padding-bottom: 6px;
      padding-left: 10px; }
  .linksBar i {
    color: white;
    font-size: 25px; }
  .linksBar .fa-bars {
    font-size: 15px;
    padding-right: 5px; }

.mobileHidden {
  display: none; }

.title .icons {
  padding: 2px;
  float: left; }
.title span {
  color: white; }
  .title span i {
    width: 40px;
    height: 40px;
    border: 1px solid lightblue;
    border-radius: 50%;
    padding: 7px;
    font-size: 23px;
    text-align: center; }
    .title span i.fa-ellipsis-h {
      padding-top: 9px; }

.weather img {
  height: 20px;
  margin: 5px;
  border-right: 1px solid #cecbcb;
  padding-right: 8px; }

.featuredArticle img {
  display: block;
  width: 100%;
  margin: auto; }

.topArticle img, .secondaryArticle img {
  height: 90px;
  width: 150px;
  margin: 0px;
  float: left;
  margin-right: 10px;
  padding-bottom: 4px; }

/*# sourceMappingURL=application.css.map */
