%articleStyles {
  background-color: $gray;
  margin: 10px 0;
  border-top: 1px solid lighten($primBlue, 40%);
  clear: both;
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
}

%fontSize {
  font-size: 18px;
}

%linkStyle {
  a {
    color: $primBlue;
    text-decoration: none;
  }
}
