@mixin padding($padding, $top:null, $right:null, $bottom:null, $left:null) {
  padding: $padding;
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin img($height, $width:null, $margin:null) {
  height: $height;
  width: $width;
  margin: $margin
}
