// PRIMARY COLORS

$primBlue: #005689;
$secondaryBlue: darken($primBlue, 5%);

// TEXT COLORS

$weatherGrey: #504A4B;

// ARTICLE BACKGROUND

$gray: #F5F5F5;


// ARTICLE HOVER
$hover: darken($gray, 4%);
$redHover: #A11500;

$red: lighten($redHover, 6%);
