
.featuredArticle {
  background-color: $gray;
  line-height: 25px;
  @include padding(0px, 0, 0, 20px, 0);
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
  h1 {
    @include padding(3px);
    margin: 0;
    font-size: 20px;
  }
  p {
    @include padding(3px);
    display: none;
  }
  a {
    text-decoration: none;
    color: $primBlue;
  }
  @media screen and (min-width: 735px) {
    width: 495px;
    height: 436px;
    float: left;
    margin-right: 5px;
  }
}

.topArticle {
  margin: 10px 0;
  height: 130px;
  background-color: $red;
  @include padding(5px);
  &:hover {
    background-color: $redHover;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    margin: 0;
    @extend %fontSize;
    color: white;
  }
  p {
    @include padding(0, 3px, 0, 2px, 0);
    margin: 1px 0;
  }
  a {
    text-decoration: none;
    color: lighten($red, 35%);
  }
  span {
    color: white;
    font-weight: bold;
  }
  @media screen and (min-width: 735px) {
    width: 150px;
    height: 436px;
    margin: 0;
    float: left;
  }
}
.secondaryArticle {
  @extend %articleStyles;
  background-color: $gray;
  clear: none;
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
  span, h1 {
    color: $weatherGrey;
    @extend %linkStyle;
  }
  p {
    @include padding(0, 3px, 0, 2px, 0);
    @extend %linkStyle;
  }
  &.bernie {
    @media screen and (min-width: 735px) {
      width: 155px;
      height: 469px;
      margin: 5px;
      float: left;
    }
  }
  &.walrus {
    @media screen and (min-width: 735px) {
      width: 155px;
      height: 469px;
      margin: 5px;
      float: left;
    }
  }
}

 .subArticle {
   @extend %articleStyles;
   @extend %linkStyle;
   clear: none;
   height: 75px;
   span, h1 {
     color: $weatherGrey;
     @extend %fontSize;
   }
   @media screen and (min-width: 735px) {
     height: 150px;
     width: 155px;
     margin: 5px;
     margin-right: 0px;
     float: left;
   }
 }
