
.featuredArticle {
  background-color: $gray;
  line-height: 25px;
  @include padding(0px, 0, 0, 20px, 0);
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
  h1 {
    @include padding(3px);
    margin: 0;
    font-size: 20px;
  }
  p {
    @include padding(3px);
    display: none;
  }
  a {
    text-decoration: none;
    color: $primBlue;
  }
}

.topArticle {
  margin: 10px 0;
  background-color: $red;
  @include padding(5px);
  &:hover {
    background-color: $redHover;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    margin: 0;
    @extend %fontSize;
    color: white;
  }
  p {
    @include padding(0, 27px, 0, 2px, 0);
    margin: 1px 0;
  }
  a {
    text-decoration: none;
    color: white;
    color: lighten($red, 35%);
  }
  span {
    color: white;
    font-weight: bold;
  }
}
.secondaryArticle {
  @extend %articleStyles;
  background-color: $gray;
  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
  span, h1 {
    color: $weatherGrey;
    @extend %linkStyle;
  }
  p {
    @include padding(0, 48px, 0, 2px, 0);
    @extend %linkStyle;
  }
}

 .subArticle {
   @extend %articleStyles;
   @extend %linkStyle;
   span, h1 {
     color: $weatherGrey;
     @extend %fontSize;
   }
 }
