header {
  overflow: auto;
  background: $primBlue;
}

.title {
  font-size: 15px;
  h1 {
    margin: 0;
    float: right;
    @include padding(0, 0, 10px);
    color: lightblue;
    @media screen and (min-width: 735px) {
      font-size: 60px;
      margin-bottom: 12px;
    }
  }
}

.right {
  @include triangle(20px, $weatherGrey, down);
  float: right;
  margin-top: 9px;
}
