header {
  overflow: auto;
  background: $primBlue;
}

.headerContent {
  width: 95%;
  display: block;
  margin: auto;
  height: 55px;
}

.title {
  // overflow: auto;
  // background: $primBlue;
  // height: 55px;
  font-size: 15px;
  h1 {
    margin: 0;
    float: right;
    @include padding(0, 0, 10px);
    color: lightblue;
  }
}

.right {
  @include triangle(20px, $weatherGrey, down);
  float: right;
  margin-top: 9px;
}
.linksBarContent {
  clear:both;
  nav {
    background: $secondaryBlue;
    height: 32px;
    text-align: center;
    padding-left: 2px;
    // overflow: auto;
    a {
      color: white;
      font-size: 19px;
      text-decoration: none;
      @include padding(3px, $right:6px, $left: 6px);
      &.all {
        background-color: black;
        padding-right: 5px;
        @include padding(0, 4px, 11px, 6px, 10px);
      }
    }
    i {
      color: white;
      font-size: 25px;
    }
    .fa-bars {
      font-size: 15px;
      padding-right: 5px;
    }
  }

}


.mobileHidden {
  display: none;
}
