header {
  overflow: auto;
  background: $primBlue;
  height: 84px;
}

.right {
  @include triangle(20px, $weatherGrey, down);
  float: right;
  margin-top: 9px;
}

nav {
  overflow: auto;
  background: $secondaryBlue;
  height: 36px;
  margin-top: 48px;
}
