.title {
  .icons {
    padding: 2px;
    float: left;
  }
  span {
    color: white;
    padding-right: 12px;
    @media screen and (min-width: 730px) {
      display: inline;
      &:hover {
        cursor: pointer;
      }
    }
    i {
      width: 40px;
      height: 40px;
      border: 1px solid lightblue;
      border-radius: 50%;
      padding: 7px;
      font-size: 23px;
      text-align: center;
      &.fa-ellipsis-h {
        padding-top: 9px;
      }
    }
  }
}
i.mobileHidden {
  @media screen and (min-width: 730px) {
    display: none;
  }
}

.icons {
  @media screen and (min-width: 730px) {
    width: 100%;
    .barRight {
      float: right;
      padding-top: 13px;
    }
  }
}
