.weather {
  img {
    @include img(20px, $margin: 5px);
    border-right: 1px solid
     lighten($weatherGrey, 50%);
     padding-right: 8px;
  }
}

.featuredArticle {
  img {
    display: block;
    width: 100%;
    margin: auto;
    @media screen and (min-width: 735px) {
      display: inline-block;
      float: right;
      width: 500px;
    }
  }
}
.topArticle {
  img {
    @include img(90px, 150px, 0px);
    float: left;
    margin-right: 10px;
    padding-bottom: 4px;
    @media screen and (min-width: 735px) {
      width: 140px;
    }
  }
}

.secondaryArticle {
  @extend .topArticle;
}
