// TESTING ONLY+++++++++++++++++

*:not(body):not(html) {
 box-sizing:border-box;
}
.columns {
 min-height: 100px;
}

// END TESTING+++++++++++++++++

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  clear: both;
  border-color: #e6e6e6;
  opacity: .3;
  margin: 0;
  width: 50%;
}
