// TESTING ONLY+++++++++++++++++

*:not(body):not(html) {
 box-sizing:border-box;
 // border:1px dashed red;
}
.columns {
 min-height: 100px;
}

// END TESTING+++++++++++++++++

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  border: 2px solid lime;
  margin: 0;
}

.mainContent {
  height: 100vh;
  display: block;
  margin: auto;
  @include padding(0, 0, 7px, 0, 7px);
}
.sectionTitle {
  overflow: auto;
  h2 {
    margin: 0;
    color: darken($secondaryBlue, 3%);
    float: left;
  }
  .weather {
    float: right;
    @include padding(0, 2px, 0px, 0, 0);
    color: $weatherGrey;
    span {
      float: left;
      font-size: 19px;
      padding-top: 3px;
    }
    i {
      font-size: 25px;
      border-left: 1px solid #eee;
      @include padding(0px, 0px, 0, 0, 7px);
    }
  }
}
